{% extends 'base.html' %}
{% block title %}Homepage | Sozial{% endblock title %}

{% block content %}
<style>
    body {
        background-color: #dbdbdb;
    }
</style>

   <div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 bg-white p-3" style="height: 300px;">
            <form>
               <div class="d-flex">
                <input type="search" name="search" class="form-control" placeholder="search friends...">
                <button type="submit" class="btn btn-success btn-sm mx-2">SEARCH</button>
               </div>
            </form>
        </div>
        <div class="col-md-6">
        <form method="POST" action="{% url 'posting' %}" enctype="multipart/form-data" class=" p-3">
            {% csrf_token %}
          
              
            <textarea rows="6" name="body" class="form-control" placeholder="what's on your mind..."></textarea><br>
       
            <input type="file" name="upload" accept="image/*" class="form-control"><br>
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mt-2 w-25">POST</button>
            </div>

        </form>
       
<div class=" mt-5">
   
   
  
    {% for post in all_post %}

    <div class=" p-3 mb-4 shadow" >
       <div class="d-flex">
        <img src="{{post.user.profile.image}}" style="width: 45px; height: 45px; border-radius: 50%;">
        <a href="profilepage/{{post.user}}" style="text-decoration: none;">
        <h4 class="mx-2">{{post.user}}</h4>
        </a>
    </div>
        <p>{{post.body}}</p>
        
        <img src="{{post.pic.url}}" style="width: 100%; height: 300px;">
        <div class="d-flex mt-2">
  <a href="/like_post?like_on={{post.id}}" style="text-decoration: none;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
        </svg>&nbsp &nbsp
      
    </a>
    {% if post.likes == 0 %}No likes yet...
    {% else %} {{post.likes}}  Likes 
    {% endif %}
        <a class="mx-5" href={% url 'comment' post.id %}  style="text-decoration: none; color: blue">Comment</a>
</div>    
        {% for k in post.comments.all %}
        
        
   
    
        
        <div class="border p-3 mt-1 mx-3 mt-2">
            <img src="{{k.comment_by.profile.image.url}}" style="width: 25px; height: 25px;">
            <b>|{{k.comment_by}} | 📅 {{k.comment_date}}</b>
            <div  style=" padding: 3px;">
            <p>{{k.comment_body}}</p>
                    {% for i in k.replies.all %}
                    <div class="mx-3">
                        <p> - <b style="color: black;"> {{i.reply_by}} </b>|{{i.reply_body}}
                    </div>
                    {% endfor %}
            <a   data-bs-toggle="collapse" href="#replyBox{{k.id}}" role="button" aria-expanded="false" aria-controls="replyBox{{k.id}}"
            style="color: blue; text-decoration: none;" class="d-flex justify-content-end me-1">reply</a>
            <div class="collapse" id="replyBox{{k.id}}">
                <div class="card card-body">
                    <form method="POST" action="{% url 'reply_comment' k.id %}">
                        {% csrf_token %}
                        <div class="d-flex">
                        <input type="text" name="reply_body" class="form-control" placeholder="post reply">
                        <button type="submit" class="btn btn-success">Reply</button>
                        </div>
                    </form>
                
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
   
</div>
   </div>
   <div class="col-md-3 bg-white p-3" style="height: 800px;">
        <h4>Grow your contacts</h4>
        <hr>
        {% for suggestion in suggestions_username_profile_list %}
        <div class="d-flex mt-4 mb-3 justify-content-center">
         <img src="{{suggestion.image.url}}" style="width: 100px; height: 100px; border: 1px solid gray;border-radius: 50%"> &nbsp &nbsp
           <h5 style="text-transform: capitalize; font-weight: 500; margin-top:30px;">{{suggestion.full_name}}</h5><br>
          
        </div>
        <div class="d-flex justify-content-center">
        <a href="/profilepage/{{suggestion.user}}" class="btn btn-primary w-100 ">View Profile</a>
        </div>
        {% endfor %}
   </div>
</div>
</div>
{% endblock content %}